

.button {
  width: 180px;
  height: 55px;
  margin: 20px 5px 0;
  background-color: #C64706;
  color: #C1C1C1;
  text-align: center;
  border: none;
  border-radius: 10px;
}

.button-style {
  width:330px;
  height: 60px;
  margin: 5px 20px 5px 30px;
  color:#C1C1C1;
  text-align: left; 
  border-radius: 10px;  

}

.button-style-order{
  width: 270px;
  height: 60px;
  margin: 5px 1px 0;
  color: #C1C1C1;
  text-align: left; 
  border-radius: 10px;

}

.item-button {
  width: 270px;
  height: 60px;
  margin: 5px 1px 0;
  background-color: #C1C1C1;
  color: #47525E;
  text-align: left; 
  border-radius: 10px;  
}

.button-order {
   background-color:#006699;
}


.button-finished {
  background-color: green;
    
}

.button-Preparing {
   background-color:#663300;
   
}

 

  
